footer {
    margin-top: 0px;
    background: #379C99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 40px;
}
footer h3 {
    font-family: 'Lovers Quarrel';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 56px;

    color: #FFFBFE;
}

.footer_social {
    margin-top: 5px;
    display: flex;
    gap: 20px;
}

/* Animations */
footer {
    opacity: 0;
    transition: all 1s ease 0s;  
}

footer._active{
    opacity: 1;
}