html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body, html {
	overflow-x: hidden;

}
body {
    /*font-family: 'Roboto', sans-serif;*/
	font-family: 'Roboto Slab', serif;
    font-weight: 400;

    max-width: 425px;
    margin: 0 auto;

    color: #1D1F25;
	background-color: #FFFBFE;
    min-height: 100vh;

    /* unselectable */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;           /* Non-prefixed version, currently
									not supported by any browser */
}
.wrapper {
    margin: 0 15px;
	overflow: hidden;
}



/* Header */
header {
	padding: 15px 0 10px 0;
	position: fixed;
	z-index: 2;
	width: 100%;
    transition: all 0.5s ease 0s;  
}
.header_hidden {
	transform: translateY(-100%);
}

.header_bg {
	background: #379c99de;
	padding: 10px 0 5px 0;

}

.header_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header_logo p{
	font-family: 'Lovers Quarrel', cursive;
	color: #FFFBFE;
	font-size: 50px;
}

.header_burger,
.burger__userpanel,
.burger_main {
    display: none;
}
.header_links {
	display: none;
}
.header_home{
	margin-right: 0;
}

.burger-btn{
	z-index: 12;
	height: 20px;
	width: 30px;
	margin-bottom: 7px;
	cursor: pointer;
	display: block;
}
.header_burger {
	display: block;
	position: relative;
	width: 30px;
	height: 20px;
}
.header_burger span{
	background-color: #FFFBFE;
	position:absolute;
	border-radius: 2px;
	left: 0;
	top: 9px;
	width: 100%;
	height: 2px;
	z-index: 11;
	transition: all 0.5s ease 0s;
}
.header_burger:before,
.header_burger:after{
	content: '';
	background-color: #FFFBFE;
	border-radius: 2px;
	position:absolute;
	width: 100%;
	height: 2px;
	z-index: 11;
	transition: all 0.5s ease 0s;
}

.active span{
		background-color: #FFFBFE;
	
}
.active:before,
.active:after{
		content: '';
		background-color: #FFFBFE;
	}
.header_burger.active:before{
	transform: rotate(45deg);
	top: 9px;
}
.header_burger.active:after{
	transform: rotate(-45deg);
	bottom: 9px;
}
.header_burger.active span{
	transform: scale(0);
}
.header_burger:before{
	top: 0;
}
.header_burger:after{
	bottom: 0;
}

.burger_main{
	display: block;
	position: fixed;
	top: 0;
	right: -100%;
	width: 100%;
	height: 100%;
	background-color: #33C1BD;
	z-index: 10;
	transition: all 0.5s ease 0s;
}
.burger_main.active {
	right: 0;
}

.burger_main .header_logo p{
	padding-top: 80px;
	color: #FFFBFE;
	font-size: 60px;
}
.burger_menu{
	/* padding-top: 50px; */
	height: 100vh;
	height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.burger_links a, .header_social a {	
	text-decoration: none;
	color: #FFFBFE;
}
.burger_links .navbar_item{
	margin-bottom: 15px;
	font-size: 18px;
	opacity: 0;
	transform: translate(10vh, 0);
	transition: all 0.5s ease 0s;
}
.burger_main.active .burger_links .navbar_item{
	opacity: 1;
	transform: translate(0, 0);
}
.burger_main.active .burger_links .navbar_item:nth-child(1){
	transition: all 0.5s ease 0.1s;
}
.burger_main.active .burger_links .navbar_item:nth-child(2){
	transition: all 0.5s ease 0.2s;
}
.burger_main.active .burger_links .navbar_item:nth-child(3){
	transition: all 0.5s ease 0.3s;
}
.burger_main.active .burger_links .navbar_item:nth-child(4){
	transition: all 0.5s ease 0.4s;
}
.burger_footer {
	background-image: url("../img/bgWh.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100px;
	padding-top: 70px;
	transform: translate(0 , 120%);
	opacity: 0;
	transition: all 0.5s ease 0s;
}

.burger_main.active .burger_footer{
	opacity: 1;
	transform: translate(0 , 0);
	transition: all 0.8s ease 0.2s;
}
.burger_footer .navbar_item {
	text-decoration: none;
	display: block;

	text-align: center;
	margin: 0 auto;
	color: #F698C5;
}
.header_social {
	margin-top: 20px;
	display: inline-flex;
	justify-content: center;
	width: 100%;
  	gap: 30px;
}
.burger_links{
	display: flex;
	flex-direction: column;
	align-items: center;
}