.review {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.review h2{
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #000000;
}

.swiper_container{
    margin-top: 20px;
    width: 100%;
    overflow: hidden;
}
.review-swiper {
    margin: 0 auto;
    padding-top: 60px;
    width: 70%;
}
.review .swiper-slide-shadow {
    border-radius: 15px;
}
.review .swiper-slide {
    background: linear-gradient(136.96deg, rgba(51, 193, 189, 0.3) 0%, rgba(255, 206, 229, 0.3) 100%), #FFFFFF;
    border-radius: 15px;
    overflow: visible;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.review .img_container {
    transform: translate(0%, -50%);
    width: 100px;
    height: 100px;
    padding: 4px;
    border-radius: 50%;

    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), linear-gradient(225deg, #33C1BD 0%, #FFCEE5 83.85%);
    box-shadow: 3px 3px 6px -2px rgba(0, 0, 0, 0.2);

    overflow: hidden;

}

.review .img_container img{
    width: 100%;
    border-radius: 50%;
}

.review_text {
    padding: 0 15px 15px 15px;
    position: relative;
    top: -30px;
}

.review_text {
    max-height: 200px;
    overflow: hidden;
    transition: all 0.5s ease 0s;
}

.review_text_all {
    max-height: 800px;
    transition: all 0.5s ease 0s;
}


.all_text {
    color: #F698C5;
    text-decoration: underline;
    position: relative;

    top: -15px;
}

.review_name {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}
.review_title {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #F698C5;
}
.review_desc {
    margin-top: 10px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    color: #787878;
}

.review_btn {
    margin-top: 50px;
}


/* Animations */
.review h2 {
    transform: translateY(200%);
    opacity: 0;
    transition: all 1s ease 0s;  
}
.review h2._active {
    transform: translateY(0%);
    opacity: 1;
}

.swiper_container {
    transform: translateX(100%);
    opacity: 0;
    transition: all 1s ease 0s;  
}
.swiper_container._active {
    transform: translateY(0%);
    opacity: 1;
}


.review_btn {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
    transition: all 1s ease 0s;  
}
.review_btn._active {
    transform: translateY(0%) scale(1);
    opacity: 1;
}
